
body,html{
    height: 100%;
}

body{
    background-image:url(https://img.elo7.com.br/product/original/22565B3/adesivo-parede-prato-comida-frango-salada-restaurante-lindo-adesivo-parede.jpg);
    background-position: center;
    padding: 0;
    margin: 100px;
    background-size: 1700px;
    font-family: 'Times New Roman', Times, serif, bold; 
    font-weight: bold;
}

* { margin: 0px;; padding: 0;}
/*Parte do Login*/
.log{
    margin: 20px;
    display: grid;
    justify-content: center;
}
.log > fieldset{
    background-color: rgb(19, 206, 159);
    border: 03px solid;
    border-radius: 10px 10px 10px 10px;
    border-width: 03px;
    
}
/*p.blocktext {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}*/
#titulo1{
    text-align: center;
    font-size: 25px;
    display: grid;
    justify-content: center;
    color: rgb(16, 16, 143);
}
.texto_alinhar{
    text-align: center;
    font-size: 15px;
    justify-content:center;
    color: black;
    background: blanchedalmond;
    background-position: center;
    font-weight: bold;
}

/*.alinhar_texto{
    width: 1600px;
    height: 1000px;
    padding: 0px 200px 0px 300px;
  
}*/

#titulo2{
    display: grid;
    justify-content: center;
    color: hsl(0, 0%, 0%);
}
.field{
    display: grid;
    justify-content: center;
    grid-gap: 05px;
}

/*Parte do Formulario*/
.form{  
    
    margin-bottom: 10px;
    display: grid;
    justify-content: center;
}
.formulario{
    
    height: 750;
    width: 1000;
    background-color: cornsilk;
    border: 2px solid;
    border-radius: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 10vh 70vh 20vh;
    font-weight: bold;
    margin-bottom: 10px;
    display: grid;
    justify-content: center;
    
}

.for{
    
    height: 750px;
    width: 1000px;
    background-color: rgb(245, 239, 239);
    border: 2px solid;
    border-radius: 10px 0px 10px 0px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 10vh 70vh 20vh;
    font-weight: bold;
}
#titulo{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    font-size: 1.5rem;
    
}

.container{
    color: rgb(0, 0, 0);
    justify-content: center;
    
}
.rodape{
        background-color: rgb(98, 26, 26);
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: -280px;
        width:100%;
        height: 80px;
        margin: auto auto;
        padding: 10px 10px;
        text-justify: auto;
        text-align: center;
        font-size: 15px;
}


.div{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;

}/*
.div2{
    background-color: #903;
    border: 1px;
   
}*/
.botao{
    margin: 10px 0px 10px 0px;
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;
    
}
/*
.justificar{
    justify-content: right;
    
}
.tres{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-content: center;

}*/
ul {
    margin: -30px;
    padding: 10px;
    border-radius: 50px 0px 50px 0px;
}

li{
    list-style: none;
    margin: 10px;
    display: inline;
}

li a{
    padding: 5px 10px;
    margin: 0 auto;
    border: 0px solid rgb(0, 255, 106);
    background: #903;
    text-decoration: none;
    color: rgb(27, 165, 85);
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;


    /*cantos arredondados */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     border-radius: 5px;

}

li a:haver{
    background: rgb(173, 28, 28);
    color: #000;
    border-color: #000;
    font-weight: bold;
}

.slider{
    display: block;
    height: 293px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    position: relative;
}

.slider li{
    list-style: none;
    position: absolute;

}

.slider img{
    margin: auto;
    height: 100%;
    width: 100%;
    vertical-align: top;
}

.slider input{
    display: none;
}

.slider label{
    background-color: rgb(171, 187, 28);
    bottom: 10px;
    cursor: pointer;
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: 10;
}

.slider li:nth-child(1) label{
    left: 10px;
}
.slider li:nth-child(2) label{
    left: 10px;
}
.slider li:nth-child(3) label{
    left: 10px;
}
.slider li:nth-child(4) label{
    left: 10px;
}

.slider img{
    opacity: 0;
    visibility: hidden;
}

.slider li input:checked ~ img{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

 #menu{
    font-weight: bold;
 }
